@model ArenasProyect3Web.Clases.CuentasCLS
@{
    ViewData["Title"] = "Agregar";
}


<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid ms-2">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3>Nueva Cuenta</h3></div>
        </div>
        <!--end::Row-->
    </div>

    <br />

    <div class="row ms-2">
        <div class="col-md-6">

            <form asp-controller="Cuentas" asp-action="Agregar" id="frmEnviarDatos" method="post">

                <div class="form-group">
                    <label asp-for="Abreviatura" class="control-label"></label>
                    <input asp-for="Abreviatura" class="form-control" />
                    <span asp-validation-for="Abreviatura" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CodSunat" class="control-label"></label>
                    <input asp-for="CodSunat" class="form-control" />
                    <span asp-validation-for="CodSunat" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="DescripcionCuenta" class="control-label"></label>
                    <input asp-for="DescripcionCuenta" class="form-control" />
                    <span asp-validation-for="DescripcionCuenta" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="button" value="Guardar" class="btn btn-primary" onclick="AbrirModal()" />
                    <a asp-controller="Cuentas" asp-action="Index" class="btn btn-danger">Regresar</a>
                </div>

            </form>
        </div>
    </div>


</div>


<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>


<script>

    function AbrirModal() {

        MostrarModal().then(res => {
            if (res.value) {
                var frmEnviar = document.getElementById("frmEnviarDatos");
                frmEnviar.submit();
            }
        })

    }

</script>